.round-end-modal-outer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 5;
}
.round-end-modal-container {
    width: calc(75% - 45px);
    height: calc(100vh - 190px);
    border-radius: 30px;
    background-color: rgb(24, 18, 18);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    position: absolute;
}

.round-end-header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

.round-end-header-label {
    -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin: 0;  
  width: max-content;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 3%;
  left: 50%;
}

.countdown {
    -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin: 0;
  position: absolute;
  top: 3%;
    font-size: 30px;
    transform: translate(-50%, -50%);
  right: 0px;
  /* transform: translate(-50%, -50%); */
}

#round-end-body-container {
    display: flex;
    height: 90%;
    width: 98%;
    position: absolute;
    top: 5%;
}

#map-half {
    width: 50%;
    height: 100%;
    border-right: dashed grey 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info-holder {
    width: 50%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

#map-container-round-end {
    width: 90%;
    height: 90%;
    border: 3px solid grey;
    border-radius: 10px;
}

#your-distance-container {
    margin-bottom: 15px;
}

#your-distance-label {
    font-size: 20px;
    margin-right: 20px;
}

#wiki-data-holder {
    /* position: relative; */
    overflow: hidden;
    max-height: 70vh;
    height: fit-content;
    width: 80%;
    background-color: rgb(46, 41, 41);
    border-radius: 15px;
    margin: 50px 0 25px 0;
    padding: 10px 10px 20px 20px;

}

#inner-wiki-data-holder {
    overflow: auto;
    height: 95%;
    padding-right: 10px;
}

#wiki-title-link-holder {
    margin: 10px;
    display: flex;
}

#wiki-label {
    font-size: 20px;
    font-weight: 300;
}

#dash {
    font-size: 20px;
    margin: 0 15px;
}

#wiki-summary-holder {
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
}

a {
    font-size: 15px;
    color: rgb(85, 86, 90);
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(78, 77, 77); 
  border-radius: 4px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(27, 25, 25); 
}
  
.mapboxgl-popup-content {
    max-width: 200px;
    max-height: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding: 0 5px;
}

.mapboxgl-popup-tip {
    display: none;
}