.city-header-container {
    background-color: black;
    min-width: 200px;
    height: 5%;
    z-index: 1;
    display: inline-flex;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.loading-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* .loading-label {
    font-size: 25px;
    color: aliceblue;
} */

.not-loading-holder {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.location-data-holder {
    padding: 0 25px;
    border-right: white 4px solid;
}

/* .location-data-label {
    color: aliceblue;
    font-size: 25px;
} */

.countdown-holder {
    padding: 0 25px;
}

/* .countdown-label {
    color: aliceblue;
    font-size: 25px;
} */

.round-holder {
    padding: 0 25px;
    border-right: white 4px solid;
}

/* .round-label {
    color: aliceblue;
    font-size: 25px;
} */

.map-header-label {
    color: aliceblue;
    font-size: 25px;
}