.navigation-head-container {
  position: absolute;
  bottom: 5%;
  display: flex;
  align-items: center;
  transition: 0.5s;
  height: 100%;
  transition-duration: 500ms;
  right: -149px;
}

.closed {
  right: -32px;
}

.nav-main-container {
  background-color: var(--grey-overlay-color);
  border-radius: 0 10px 10px 0;
  padding: 10px 5px;
  border: grey 1px solid;
  width: 100px;
}

.nav-show-hide-button {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.nav-show-hide-button {
  height: 60px;
  background-color: var(--grey-overlay-color);
  border-radius: 0 10px 10px 0;
  border: grey 1px solid;
  border-left: none;
  cursor: pointer;
}

#map-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.map-option {
  height: 120px;
  margin: 5px;
  border-radius: 10px;
  border: grey 1px solid;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.map-option.selected {
  border: var(--seljuk-blue) 2px solid;
}

.map-option-image-container {
  height: 75px;
  width: 75px;
  pointer-events: none;
}

#map-style-label {
  margin: 0px;
  pointer-events: none;
}

.mapboxgl-control-container {
  display: none;
}
