#main-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-mode-list {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.game-mode-outer-container {
    padding: 10px 20px;
    color: aliceblue;
    background-color: var(--mode-color);
    border-radius: 20px;
    border: 2px black solid;
    margin-bottom: 25px;
}

.game-mode-outer-container:hover {
    cursor: pointer;
    background-color: var(--light-mode-color);
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.game-mode-icon-container {
    margin-right: 20px;
}

.icon-cropper {
    width: 50px;
    height: 50px;
    border-radius: 28px;
    overflow: hidden;
    border: 3px yellow solid;
}

.icon {
    width: 50px;
    height: 50px;
}

.game-mode-upper-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.game-mode-name-container {
    margin-right: 20px;
}

.game-mode-lower-container {
    display: flex;
    padding-left: 100px;
}

.game-mode-num-container {
    height: fit-content;
    padding: 3px;
    white-space: nowrap;
    background-color: grey;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    border: 1px black solid;
}

.player-icon {
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    background-color: black;
    margin-right: 3px;
}
.game-mode-description {
    margin: 0;
    font-size: 14px;
}
#url-enter-container {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
#enter-game-uri {
    width: 100%;
    border-radius: 5px 0 0 5px;
}

#submit-url-button {
    border-radius: 0 5px 5px 0;
    height: 30px;
    width: 50px;
    /* padding: 5px; */
    background-color: var(--button-color);
    color: aliceblue;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-url-button:hover { 
    background-color: var(--hover-button-color);
}

#submit-url-button:active {
    
}