.map-and-surrounding-elems-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 5;
}

#map-container {
    width: 75%;
    position: absolute;
    border-radius: 20px;
    border: solid 10px black;
}
