*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#body-content-container {
  z-index: 0;
  position: relative;
  padding: 40px 50px;
  height: 100%;
  overflow: hidden;
}

#navigation-content-container {
  z-index: 1;
  position: fixed;
  height: 50vh;
  top: 25%;
}

#header-content-container {
  z-index: 2;
  top: 0%;
  width: 100%;
  background-color: var(--header-color);
}

#github-link-container {
  z-index: 3;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

/* variables */
:root {
  --header-height: 55px;
  --navigation-width: 18vw;
  /* --header-color: rgb(0, 97, 21); */
  --header-color: #1a3300;
  --grey-overlay-color: rgb(236, 234, 236);
  --background-color: #e0e0e0;
  --waiting-menu-color: rgb(48, 47, 63);
  --modal-background: rgba(255, 255, 255, 0.808);
  --seljuk-blue: #4285f4;
  --dark-grey-opacity: #505050b7;
  --nuke-speed: 1s;
  --text-dark: rgb(12, 12, 12);
  --text-light: aliceblue;
  --primary-color: #1a3300;
  --primary-hover-color: #1a330091;
  --secondary-color: #e0e0e0;
  --button-color: #1a3300;
  --hover-button-color: #1a330091;
  --light-overlay-color: #fcf4f49d;
  --waiting-menu-secondary: #090d24;
  --github-background: rgba(255, 255, 255, 0.733);
}

.styled-button {
  padding: 10px 20px;
  background-color: var(--button-color);
  color: var(--text-light);
  border: 0;
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.styled-button:hover {
  background-color: var(--hover-button-color);
  transition: 0.2s;
}

.secondary-styled-button {
  padding: 10px 20px;
  background-color: var(--text-light);
  color: var(--button-color);
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.secondary-styled-button:hover {
  background-color: grey;
  transition: 0.2s;
}

.styled-text-input {
  height: 30px;
  width: 50%;
  border-radius: 5px;
  border-width: 0px;
  border: none;
  font-size: 24px;
}

.styled-text-input:focus {
  outline: none;
}

.inline-link {
  color: blue;
  cursor: pointer;
}

.inline-link:hover {
  text-decoration: underline;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 128, 0, 0.349);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
