*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--grey-background-color);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#body-content-container {
    z-index: 0;
    position: relative;
    padding: 40px 50px;
    height: 100%;
}

#navigation-content-container {
    z-index: 1;
    position: fixed;
    height: calc(100vh - var(--header-height));
}

#header-content-container {
    z-index: 2;
    top: 0%;
    height: var(--header-height);
    width: 100%;
    background-color: var(--header-color);
    /* padding: 20px 40px; */
}


/* variables */
:root {
    --header-height: 60px;
    --navigation-width: 18vw;
    --header-color: rgb(5, 5, 179);
    --grey-overlay-color: rgb(236, 234, 236);
    --grey-background-color: rgba(0, 0, 255, 0.658); 
    --waiting-menu-color: rgb(48, 47, 63);
    --button-color: rgb(9, 13, 36);
    --player-card-color: #a278c4;
}

.styled-button {
    padding: 10px 20px;
    background-color: var(--button-color);
    color: aliceblue;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}