*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

#body-content-container {
    z-index: 0;
    position: relative;
}

#navigation-content-container {
    z-index: 1;
    position: fixed;
    height: calc(100vh - var(--header-height));
}

#header-content-container {
    z-index: 2;
    top: 0%;
    height: var(--header-height);
    width: 100%;
    background-color: aqua;
}


/* variables */
:root {
    --header-height: 60px;
    --navigation-width: 18vw;

    --grey-overlay-color: rgb(241, 224, 224);
}