.city-header-container {
    background-color: black;
    min-width: 200px;
    height: 4%;
    z-index: 1;
    display: inline-flex;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.loading-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* .loading-label {
    font-size: 25px;
    color: var(--text-light);
} */

.not-loading-holder {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* padding-top: 30px; */
}

.location-data-holder {
    padding: 0 25px;
    border-right: white 4px solid;
}

/* .location-data-label {
    color: var(--text-light);
    font-size: 25px;
} */

.countdown-holder {
    padding: 0 25px;
}

/* .countdown-label {
    color: var(--text-light);
    font-size: 25px;
} */

.round-holder {
    padding: 0 25px;
    border-right: white 4px solid;
}

.map-header-label {
    color: var(--text-light);
    font-size: 25px;
}

.submit-button {
    background-color: green;
    height: calc(100%);
    margin: 0px -10px 0 0;
    border-radius: 0 0 10px 0;
}
.disabled {
    background-color: grey;
    cursor:default;
}